@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Kanit:wght@500&family=Open+Sans&family=Poppins:wght@200;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    color: rgb(8, 95, 0);
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #015F01,#02B502 );
    height: 100vh;
}

button {
    background-color: rgb(8, 95, 0);
    color: white;
    border: 2px solid rgb(8, 95, 0);
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(8, 95, 0);
}

.done button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(8, 95, 0);
}

button:hover > i {
    color: rgb(8, 95, 0);
}

.done button:hover > i {
    color: rgb(8, 95, 0);
}

button i {
    color: rgb(255, 255, 255);
    font-weight: bold;
    pointer-events: none;
}

input,
select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 2px solid rgb(8, 95, 0);
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 2px solid rgb(8, 95, 0);
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

#toolbar {
    padding: 1rem;
    border-bottom: 2px solid rgb(8, 95, 0);
    display: flex;
}

#toolbar h3 {
    margin-bottom: .5rem;
}

#search {
    border-right: 2px solid rgb(8, 95, 0);
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3em;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid rgb(8, 95, 0);
    transition: 0.3s;
}

.todo h3 {
    flex: 1;
    font-size: 1rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: rgb(8, 95, 0);
}

.done h3 {
    color: rgb(255, 255, 255);
    text-decoration: line-through;
    font-style: italic;
}

.done button {
    border: 2px solid white;
}






 